.App {
  height: 100vh;
  display: flex;
  color: black;
}

.App__Form {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 20px 100px;
  overflow: auto;
  background-image: url("./images/background.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App__Form .homediv {
  margin: 0px -350px 0px -350px;
}

.FormCenter {
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 16px;
  width: 50%;
  margin-left: 25%;
}

.FormTitle {
  color: rgb(255, 255, 255);
  font-weight: 300;
  margin-bottom: 50px;
  text-align: center;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  float: left;

  color: rgb(191, 200, 212);
}

.FormTitle__Link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link--Active {
  color: rgb(95, 174, 240);
  border-bottom: 1px solid #707c8b;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  font-size: 1.3em;
  color: rgb(255, 255, 255);
}

.FormField__ViewLabel {
  display: block;
  /*text-transform: capitalize;*/
  font-size: 0.9em;
  color: rgb(255,255,255);
}
.FormField__Input {
  width: 95%;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  outline: none;
  border-bottom: 1px solid #f4f2f3;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: rgb(191, 200, 212);
}

.FormField__Button {
  background-color: rgb(58, 154, 233);
  color: rgb(24, 32, 41);
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: 500;
}

.FormField__all__Button {
  background-color: rgb(20, 93, 153);
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px 40px;
  font-size: 15px;
  font-weight: 500;
  margin-left: auto;
  float: right;
}

.FormField__all__font {
  font-size: "27px";
}

.FormField__Button[disabled] {
  background-color: #e0e0e0;
}

.FormField__Link {
  color: #66707d;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid rgb(95, 174, 240);
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: rgb(215, 221, 228);
  font-size: 0.9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: #707c8b;
  border-bottom: 1px solid rgb(95, 174, 240);
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.SideRow {
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin-left: 50px;
}

.DropDowns {
  /* Size and position */
    position: relative;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    background: #fff;
    border-radius: 7px;
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bolder;
    cursor: pointer
}
.dropdDownItem{
  background-color: rgb(255,255,255)
}

.FormMiddle {
  margin-bottom: 100px;
  padding: 16px;
  width: 50%;
  margin-left: 35%;
}

.Header_details {
  background-color: aqua;
}
input:invalid {
  /* border: 0; */
  box-shadow: 0 0 0 0 black;
}
.btn-sample:active {
  box-shadow: none;
}